:root {
    --text: #d6e6fd;
    --background: #282f3c;
    --background2: #1e2531;
    --primary: #71a4f9;
    --accent: #f4c20b;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    gap: 2rem;
    overflow-y: hidden;
}

.container {
    background-color: var(--background2);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    height: 75%;
    max-width: 600px;
    text-align: left;
    padding: 2rem;
}

h1 {
    color: var(--accent);
    text-align: center;
}

#abstract {
    margin-top: 4rem;
}

.input-group {
    margin: 1rem 0;
    display: flex;
    align-items: center;
}

.input-group input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    margin-right: 10px;
}

.icon {
    width: 2rem;
    cursor: pointer;
    padding: 0.4rem;
}

.icon:hover {
    transform: scale(1.1);
}

button {
    border: none;
    background-color: var(--background2);
    color: var(--background);

}

.text-display, .keywords {
    margin-top: 2rem;
}

.keywords p, .text-display p {
    margin: 0 0 10px 0;
    font-weight: bold;
}

.keywords span {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    background-color: var(--primary);
    color: var(--text);
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.keywords span:hover {
    transform: scale(1.1);
}

.translation h2 {
    margin-top: 2rem;
    color: var(--accent);
    font-size: 1.3rem;
}

#image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#graphic {
    width: 40vh;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: white;
}

#img-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

