<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio To Sign Language Translator</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'script.js' %}"></script>
</head>

<body>
    <div class="container">
        <h1>Audio To Sign Language Tool</h1>
        
        <p id="abstract">Enter text or push the mic icon to speak and have it translated to ASL</p>
        <div class="input-group">
            {% csrf_token %}
            <input type="text" id="textInput" placeholder="Enter Text or Use Mic">

            <!-- (placeholder) does nothing -->
            <button onclick="statMic()"><img class="icon" src="{% static 'assets/mic.png'%}"></button>

            <!-- (placeholder) splits input text by words and appends to html-->
            <button onclick="submitText()"><img class="icon" src="{% static 'assets/send-blue.png'%}"></button>
        </div>

        <div class="text-display">
            <p>Text that you entered: <span id="displayText"></span></p>
        </div>
        <div class="keywords">
            <p>Key words in sentence:</p>
            <div id="keywordsDisplay"></div>
        </div>
    </div>
    
    <div class="container translation">
        <h1>Translation</h1>
        <p id="abstract">Here is the corresponding sign for each key word / letter</p>

        <div id="image-container">
            <img id="graphic" src="{% static 'assets/placeholder.svg'%}">

            <div id="img-buttons">
                <button onclick=""><img class="icon" src="{% static 'assets/prev.svg'%}"></button>
                <button onclick=""><img class="icon" src="{% static 'assets/next.svg'%}"></button>
            </div>
        </div>
    </div>

    
</body>
</html>
